*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
 background-color: skyblue;

}


.container{
  display: block;
max-width: 37.5em;
  width: 90%;
  padding: 3em 1.5em;
}
.search-container{
  display: block;
  text-align: center;
  width: 70%;
  position: absolute;
  left: 15%;
  font-size: 2rem;
  color: #fff;
}
.search{
  display: flex;
  /* position: relative; */
  left: 35%;
  height: 4vmin;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  margin-top: 2vmin;
}
.search h2{
  color: #fff;
}

/* input hai */
#city{
  margin-top: 1rem;
  padding: 0.5em;
  font-size: 3vmin;
  outline: none;
  border: none;
  border-radius: 10px;
}
/* button hai */
#search{
  margin-top: 1rem;
  font-size: 3vmin;
  padding: 0.4rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  background-color: #e61c20;
  color: #fff;
}
.current-conditions-body{
  background-image: url("cloud");
  background-size: cover;
  display: block;
  position: absolute;
  left: 10%;
  top: 28%;
  height: 30vh;
 width: 80%;
 background-color:#fff ;
 border-radius: .75rem;
 padding: 1vmin;
}
.temp-details{
  display: block;
  position: absolute;
  margin-top: 1rem;
  top:60% ;
  left: 10%;
  /* height: 30vh; */
  width: 80%;
  background-color:rgba(128, 128, 128, 0.514) ;
  border-radius: .75rem;
  color: #fff;
}




.current-conditions-columns{
display: flex;
justify-content: space-around;
margin-top: 1rem;
margin-bottom: 3vmin;
padding: 2vmin;
}
.current-conditions-val{
  /* height: 102px; */
  width: 30%;
  /* background-color: #e61; */
}
.current-conditions-space{
  /* height: 102px; */
  width: 50%;
  /* background-color: #e61c20; */
}
.current-conditions-img{
  /* height: 102px; */
  width: 20%;
  /* background-color: #fff; */
  padding: 2vmin ;
  background-size: cover;
}
.current-conditions-img img{
  position: relative;
  left: 0%;
  /* margin: 0 1rem; */

}
.current-conditions-tempVal{
font-size: 3rem;
color: #fff;
}
.current-conditions-phraseVal{
  margin-top: 0.75rem;
  font-size: 1.5rem;
  color: #fff;
}
.region{
  display: block;
  height: 4vh;
  width: 50%;
  color: #fff;
  padding-left: 5px;
  font-size: 1.5rem;
}
/* wind box editing */

.wind{
 display: flex;
 justify-content: space-around;
 padding: 0 1rem;
}
.wind-container1{
/* background-color: #e61c20; */
width: 47%;
}
.wind-container2{
/* background-color:blue; */
width: 47%;
}

#area{
  padding: 10px;
}


.feel-like{
  /* display: inline-flex; */
  gap: 1rem;
  padding: 1rem;
  margin-left: 2rem;
  width: 90%;
  font-size: 1.5em;
}

.feel-like-container{
  font-size: 2rem;
}


.windbox{
  display: flex;
  justify-content: space-between;
 gap: 1rem;
 padding: 1rem;
 align-items: center;
}


.humidity {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.pressure {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.wind-dir {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.wind1 {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.visbile {
  display: flex;
  align-items: center;
  gap: 2vmin;
}
.uv-index {
  display: flex;
  align-items: center;
  gap: 2vmin;
}

@media only screen and (max-width:360px){
 
  h2{
    font-size: 1em;
  }
  .wind-container1{
width:90%}
   .wind-container2{
width:90%}
  .windbox{
    font-size: 0.5em;
    gap: 2vmin;
    width:80%;
 /* padding: 0.95em; */
  }
  .feel-like{
    font-size: 0.75em;
    gap: 0.5rem;
  padding: 0.5rem;
  margin-left: 1rem;
  width: 90%;
  }
  #area{
    font-size: 0.5em;
  }

  .current-conditions-space{
    width: 27%;
  }
  #region{
    font-size: 1em;
  }
  .current-conditions-tempVal{
    font-size: 2em;
  }
  .current-conditions-phraseVal{
    font-size: 0.75em;
  }
  .wind{
    flex-direction:coloumn;
    padding:0 0.5em;
  }
 .current-conditions-body{
  top: 23%;
  height: 28vh;
 }
 .temp-details{
  top: 50%;
 }
 .region{
  padding-left: 4vmin;
 }
 
}



